body {
    background-image: linear-gradient(45deg, rgb(238, 73, 101), rgb(241, 122, 142), rgb(240, 222, 222));
    background-size: 150% auto;
}


.title-text {
    text-align: center;
    font-family: papyrus;
    color: rgb(6, 110, 170);
}


fieldset {
    background-color: rgb(188, 161, 242);
    color: black;
    font-size: 148%;
    font-family: papyrus;
    font-weight: 1000;
    width: 53%;
    margin-left: 22%;
    padding-left: 2%;
    border: 20px solid rgb(188, 161, 242);
    opacity: 0.75;
	border-radius: 3%;
	margin-top: 40px;
	margin-bottom: 40px;
}


@media only screen and (max-width: 580px) {
    fieldset {
        font-size: 5vw;
        width: 75%;
        margin-left: 5%;
        border-radius: 0;
    } 
}