body {
    background-image: url(flower.jpg);
    background-size: 130% 100%;
}


.title-text {
    text-align: center;
    font-family: papyrus;
    color: green;
}


fieldset {
    background-color: lightblue;
    color: black;
    font-size: 148%;
    font-family: papyrus;
    font-weight: 1000;
    width: 51%;
    height: 120%;
    margin-left: 23%;
    padding-left: 3%;
    border: none;
    opacity: 0.75;
	border-radius: 3%;
	margin-top: 40px;
	margin-bottom: 40px;
}


@media only screen and (max-width: 600px) {
    fieldset {
        font-size: 148%;
        width: 90%;
        margin-left: 2%;
        padding-left: 3%;
    } 
}